{% extends "dashboard/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-10 mx-auto">
    <h1 class="text-center">Choose Your Own Adventure</h1>
        <div class="card bg-dark">
            <div class="card-body col-10 mx-auto">
                <h5 class="text-center text-white"><strong>Click on any Adventure to start playing</strong></h5>
                <ul class="list-group">
                    {% for eachAdventure in listOfAdventures %}
                        <li class="list-group-item bg-danger">
                            <div class="row">
                                <a class="card-body btn btn-success mx-auto col-10" href="/play/{{eachAdventure.id}}"><strong>{{eachAdventure.title}}</strong></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}