<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>CYOA Forums</title>
    {% load static %}
    {% include "global/shared.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/forums.css' %}">
    
  </head>
  
  <body>
  
    {% include "global/navbar.html" %}
    <div class="container-fluid">
      <div class="cont-lt">
        <div id="forum-list">
          {% if count > 0 %}
            {% autoescape off %}
              {% for entry in pdata %}
                {% if entry.hidden %}
                  <div class="forum-post-hidden">
                    <h5>This post has been hidden by an Administrator</h5>
                    <div class="forum-tag">
                      Created:
                      <span id="forum-post1-time">
                        {{ entry.created }}
                      </span> by 
                      <span id="forum-post1-user">
                        ANONYMOUS
                      </span>
                    </div>
                    <p>This post has been hidden and can only be seen by superusers
                    {% if showhidden %}
                      <a href="/forums/thread/?id={{ entry.id }}">(VIEW POST)</a>
                    {% endif %}
                    </p>
                    <div class="forum-posttags">
                      {% for tag in entry.tags.all %}
                        {{ tag }},
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <div class="forum-post">
                    <h5>{{ entry.title }}</h5>
                    <div class="forum-tag">
                      Created:
                      <span id="forum-post1-time">
                        {{ entry.created }}
                      </span> by 
                      <span id="forum-post1-user">
                        {{ entry.author }}
                      </span>
                    </div>
                    <p>{{ entry.message|truncatechars:196 }} <a href="/forums/thread/?id={{ entry.id }}">(Read More)</a></p>
                    <div class="forum-posttags">
                      {% for tag in entry.tags.all %}
                        {{ tag }},
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endautoescape %}
          {% else %}
            <p>{{ pmsg }}</p>
          {% endif %}
        </div>
      </div>
      
      <div class="cont-rt">
        <form method="POST">{% csrf_token %}
          <div id="submit-post">
            {{newpost.title}}
            {{newpost.message}}
            {{newpost.tags}}
            <div id="submit-btn">
              <button type="submit" name="new-post" id="new-post">
                Submit Post
              </button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
      
  </body>
</html>
