<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>CYOA Forums</title>
    {% load static %}
    {% include "global/shared.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/forums.css' %}">
    
  </head>
  
  <body>
  
    {% include "global/navbar.html" %}
    <div class="container-fluid">
      <div class="cont-lt">
        <div id="forum-list">
          <div class="forum-post">
            <h5>{{ opost.title }}</h5>
            <div class="forum-tag">
              Posted:
              <span id="forum-post1-time">
                {{ opost.created }}
              </span> by 
              <span id="forum-post1-user">
                {{ opost.author }}
              </span>
            </div>
            <p>{{ opost.message }}</p>
            <div class="forum-posttags">
              {% for tag in opost.tags.all %}
                {{ tag }},
              {% endfor %}
            </div>
          </div>
          {% if count > 0 %}
            {% autoescape off %}
              {% for entry in replies %}
                <div class="forum-post">
                  <h5>RE: {{ opost.title }}</h5>
                  <div class="forum-tag">
                    Created:
                    <span id="forum-post1-time">
                      {{ entry.created }}
                    </span> by 
                    <span id="forum-post1-user">
                      {{ entry.author }}
                    </span>
                  </div>
                  <p>{{ entry.message }}</p>
                </div>
              {% endfor %}
            {% endautoescape %}
          {% else %}
            <p><i>No Replies - Be the first!</i></p>
          {% endif %}
        </div>
      </div>
      
      <div class="cont-rt">
        <form method="POST">{% csrf_token %}
          <div id="submit-post">
            {{newreply.title}}
            {{newreply.message}}
            {{newreply.tags}}
            <div id="submit-btn">
              <button type="submit" name="reply-to" id="reply-to" value="{{post}}">
                Respond
              </button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
      
  </body>
</html>
